---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://backtomac.org/img/logo500x500.png" />
    <meta name="twitter:title" content="Back to the Mac" />
    <meta name="twitter:description" content="An online conference for Mac developers. Visit our website for more information." />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <title>Back to the Mac</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md text-center">
            <img src="img/logo200x200.svg" class="mt-5" style="max-width: 100px;">
            <h1>Back to the Mac</h1>
            <p class="lead">An online conference for Mac developers.</p>
            <p>
                <a href="mailto:infoATbacktomacDOTorg" onclick="this.href=this.href.replace(/AT/,'&#64;').replace(/DOT/,'&#46;')">Email</a> ·
                <a href="https://tinyletter.com/backtomac">Newsletter</a> ·
                <a href="https://github.com/backtomac">GitHub</a> ·
                <a href="https://www.youtube.com/channel/UCqiRMXmkXN1KDrX4WYlS5rw">YouTube</a>
            </p>
            <br>
        </div>
    </div>

    <!-- About -->

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(136, 192, 180);">About</h3>
            <p>Join us in November for the first annual Back to the Mac conference where misfits, rebels, troublemakers, and the ones who think differently will share their knowledge about developing Mac apps. The conference is free. There are no registration or application fees. It is completely online as a collection of videos on our YouTube channel. Videos are recorded by the speakers and information is provided so viewers can contact presenters with questions or comments.</p>
            <p><strong>Deadlines for the 2020 conference:</strong></p>
            <ul>
                <li>Submissions are open from August 1 through 31</li>
                <li>Accepted speakers are notified on September 1</li>
                <li>Recordings of accepted presentations and demos are due by October 31</li>
                <li>Conference videos published on YouTube in mid-November</li>
            </ul>
        </div>
    </div>

    <!-- Presentations -->

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(238, 131, 176);">Presentations</h3>
            <p>Coming soon.</p>
        </div>
    </div>

<!--
    {% for p in site.data.presentations %}
    <div class="row mt-4">
            <div class="col-md-2">
                <img class="mb-3 rounded-lg" style="max-width: 100px;" src="profile.png">
            </div>
            <div class="col-md">
                <h5>{{ p.title }}</h5>
                <ul class="list-unstyled">
                    <li>{{ p.author }}</li>
                    <li>
                        {% if p.github%}
                            <a href="{{ p.github }}">GitHub</a> &ensp;
                        {% endif %}
                        {% if p.twitter%}
                            <a href="{{ p.twitter }}">Twitter</a> &ensp;
                        {% endif %}
                        {% if p.website%}
                            <a href="{{ p.website }}">Website</a> &ensp;
                        {% endif %}
                    </li>
                </ul>
            </div>
    </div>
    {% endfor %}
-->
    <!-- Submit -->

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(242, 164, 95);">Submit your talk</h3>
            <p>If you would like to give a presentation or demo, please submit your talk via <a href="mailto:submit2020ATbacktomacDOTorg" onclick="this.href=this.href.replace(/AT/,'&#64;').replace(/DOT/,'&#46;')">email</a> by August 31. Include the items listed below in your submission. Keep in mind that presentations and demos should be less than 30 minutes.</p>
            <ul>
                <li>Presentation title</li>
                <li>Presenters first and last name</li>
                <li>A brief description of your talk or demo</li>
                <li>Links to your GitHub, Twitter, personal website, or blog</li>
            </ul>
            <p>Here are some ideas for presentations. Other topics are welcome as long as they are relevant to native Mac app development.</p>
            <ul>
                <li>Command line applications</li>
                <li>Server side programming with Swift</li>
                <li>Machine learning on macOS</li>
                <li>Using Swift and SwiftUI for Mac app development</li>
                <li>Utilize C++, Python, and other languages in a native Mac app</li>
                <li>GPU programming with Metal</li>
                <li>Scientific computing with Swift and Accelerate</li>
                <li>Distributing Mac apps outside the App Store</li>
            </ul>
        </div>
    </div>

    <!-- Recording -->

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(213, 189, 251);">Recording your talk</h3>
            <p>Presenters will be given a link for uploading their presentation video. The video should be at least 1080p resolution with a duration of 30 minutes or less. See the links provided below for information about recording videos along with software and hardware options.</p>
            <ul>
                <li><a href="https://youtu.be/mLyPrblmPp4">How to Record Computer Screen and Webcam</a></li>
                <li><a href="http://www.telestream.net/screenflow/overview.htm">ScreenFlow</a></li>
                <li><a href="https://obsproject.com">OBS Studio</a></li>
                <li><a href="https://www.bluedesigns.com/products/yeti/">Blue Yeti Microphones</a></li>
            </ul>
        </div>
    </div>

    <!-- Support -->

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(214, 200, 134);">Support</h3>
            <p>If you would like to support this conference and its organizer, Gavin Wiggins, then please make a donation using the options given below. Thanks 😁</p>
            <p>
                <a href="https://github.com/sponsors/wigging">GitHub Sponsors</a> ·
                <a href="https://www.patreon.com/wigging">Patreon</a> ·
                <a href="https://www.buymeacoffee.com/wigging">Buy Me A Coffee</a> ·
                <a href="https://www.paypal.me/gavinwiggins">PayPal</a>
            </p>
        </div>
    </div>

    <!-- Archive -->

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(239, 135, 118);">Archive</h3>
            <p>Nothing to see this year. Check back next year.</p>
        </div>
    </div>

    <!-- Footer -->

    <div class="row mt-5 mb-5">
        <div class="col-md">
            <br>
            <p class="small text-center">Back to the Mac since 2020.</p>
            <p class="small text-center">Back to the Mac is an independent conference <br>and has not been authorized, sponsored, or otherwise approved by Apple, Inc.</p>
            <p class="small text-center">Computer icon in main logo by <a href="https://www.flaticon.com/authors/Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>
            <p class="text-center mt-5">
                <img src="img/dogcow.png" width="50"> <br>
                <span class="small">Moof!</span>
            </p>
        </div>
    </div>

</div>
</body>
</html>
