---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://backtomac.org/img/logo500x500.png" />
    <meta name="twitter:title" content="Back to the Mac" />
    <meta name="twitter:description" content="An online conference for Mac developers. Visit our website for more information." />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Back to the Mac</title>
</head>
<body>
<div class="container">

    <!------------------------------ Banner ------------------------------->

    <div class="row">
        <div class="col-md text-center">
            <img src="img/logo200x200.svg" class="mt-5" style="max-width: 100px;">
            <h1>Back to the Mac</h1>
            <p class="lead">A YouTube channel for Mac developers</p>
            <p>
                <a href="mailto:infoATbacktomacDOTorg" onclick="this.href=this.href.replace(/AT/,'&#64;').replace(/DOT/,'&#46;')">Email</a> ·
                <a href="https://tinyletter.com/backtomac">Newsletter</a> ·
                <a href="https://github.com/wigging/back-to-mac">GitHub</a> ·
                <a href="https://www.youtube.com/channel/UCqiRMXmkXN1KDrX4WYlS5rw">YouTube</a>
            </p>
            <br>
        </div>
    </div>

    <!------------------------------ About ------------------------------->

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(136, 192, 180);">About</h3>
            <p>Join us in November for the second annual Back to the Mac conference where misfits, rebels, troublemakers, and the ones who think differently will share their knowledge about developing Mac apps. The conference is free. There are no registration or application fees. It is completely online as a collection of videos on our YouTube channel. Videos are recorded by the speakers and information is provided so viewers can contact presenters with questions or comments.</p>
            <p><strong>Dates for the 2021 conference:</strong></p>
            <ul>
                <li>Submissions are open from September 3 through September 30</li>
                <li>Accepted speakers are notified by October 8</li>
                <li>Recordings of accepted presentations and demos are due by November 8</li>
                <li>Conference videos are published on YouTube on November 22</li>
            </ul>
        </div>
    </div>

    <!------------------------------ Call for proposals ------------------------------->

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(242, 164, 95);">Call for proposals</h3>
            <!-- <p>If you would like to give a presentation or demo for the 2021 Back to the Mac conference, please submit your talk using the guidelines available <a href="proposals.html">here</a>.</p> -->
            <p>The call for proposals is over for 2021. Check back next year.</p>
        </div>
    </div>

    <!------------------------------ Presentations ------------------------------->

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(238, 131, 176);">2021 Presentations</h3>
        </div>
    </div>

    {% for p in site.data.conf2021 %}
    <div class="row mt-4">
            <div class="col-md-2">
                <a href="{{ p.video-url }}">
                    <img class="mb-3 rounded-3 border border-info" style="max-width: 100px;" src="thumbnails/2021/{{ p.thumbnail }}">
                </a>
            </div>
            <div class="col-md">
                <h4>{{ p.title }}</h4>
                <p>
                    by {{ p.author }}
                    {% if p.github%}
                        &nbsp; <a href="{{ p.github }}">GitHub</a>
                    {% endif %}
                    {% if p.twitter%}
                        &nbsp; <a href="{{ p.twitter }}">Twitter</a>
                    {% endif %}
                    {% if p.website%}
                        &nbsp; <a href="{{ p.website }}">Website</a>
                    {% endif %}
                </p>
                <p>{{ p.description }}</p>
            </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(238, 131, 176);">2020 Presentations</h3>
        </div>
    </div>

    {% for p in site.data.conf2020 %}
    <div class="row mt-4">
            <div class="col-md-2">
                <a href="{{ p.video-url }}">
                    <img class="mb-3 rounded-3 border border-info" style="max-width: 100px;" src="thumbnails/2020/{{ p.thumbnail }}">
                </a>
            </div>
            <div class="col-md">
                <h4>{{ p.title }}</h4>
                <p>
                    by {{ p.author }}
                    {% if p.github%}
                        &nbsp; <a href="{{ p.github }}">GitHub</a>
                    {% endif %}
                    {% if p.twitter%}
                        &nbsp; <a href="{{ p.twitter }}">Twitter</a>
                    {% endif %}
                    {% if p.website%}
                        &nbsp; <a href="{{ p.website }}">Website</a>
                    {% endif %}
                </p>
                <p>{{ p.description }}</p>
            </div>
    </div>
    {% endfor %}

    <!------------------------------ Archive ------------------------------->

<!--     <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(239, 135, 118);">Archive</h3>
            <p>Coming soon.</p>
        </div>
    </div> -->

    <!------------------------------ Support ------------------------------->

    <div class="row">
        <div class="col-md">
            <h3 style="color: rgb(214, 200, 134);">Support</h3>
            <p>If you would like to support this conference and its organizer, Gavin Wiggins, then please make a donation using the options given below. Thanks 😁</p>
            <p>
                <a href="https://github.com/sponsors/wigging">GitHub Sponsors</a> ·
                <a href="https://www.patreon.com/wigging">Patreon</a> ·
                <a href="https://www.buymeacoffee.com/wigging">Buy Me A Coffee</a> ·
                <a href="https://www.paypal.me/gavinwiggins">PayPal</a>
            </p>
        </div>
    </div>

    <!------------------------------ Footer ------------------------------->

    <div class="row mt-5 mb-5">
        <div class="col-md">
            <br>
            <p class="small text-center">Back to the Mac since 2020.</p>
            <p class="small text-center">Back to the Mac is an independent conference <br>and has not been authorized, sponsored, or otherwise approved by Apple, Inc.</p>
            <p class="small text-center">Computer icon in main logo by <a href="https://www.flaticon.com/authors/Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>
            <p class="text-center mt-5">
                <img src="img/dogcow.png" width="50"> <br>
                <span class="small">Moof!</span>
            </p>
        </div>
    </div>

</div>
</body>
</html>
